[Unit]
Description=Microscope Control System
After=network.target
After=multi-user.target
Wants=network-online.target

[Service]
Type=simple
User=admin
Group=admin
WorkingDirectory=/home/admin/Documents/microscopy
Environment=PATH=/home/admin/Documents/micro_env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStartPre=/bin/sleep 10
ExecStart=/home/admin/Documents/micro_env/bin/python /home/admin/Documents/microscopy/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target 
